# Dependências
node_modules/
package-lock.json

# Variáveis de ambiente
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Arquivos temporários
tmp/
temp/
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
